// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin-minus{
  margin-top: -30px;
}
.titulo{
  display: inline-block;
  padding-left: 30px;
  h4{
    float: left;
  }
  ul{
    float: right;
    font-size: 18px;
    margin: 10px 20px;
  }
}
.centrado{
  ul{
    float: right;
    margin: 0 30px;
  }
}
